@model VICTORY_HOTEL.ViewModels.KhachHang.KhachHangViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- page content -->
<!--List-->
<div class="right_col" role="main" style="min-height: 949px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Khách Hàng</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <!--Add List-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm mới Khách Hàng <small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        @{ string ma = ViewBag.MaTuTang; }
                        @using (Html.BeginForm("Index", "KhachHang", FormMethod.Post, new { @class = "form-my form-horizontal form-label-left" }))
                        {
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "dd-text-danger col-md-12" })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" >
                                    Mã khách hàng
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("MaKH", ma, new { @id = "MaKH", @readonly = "readonly", @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(m => m.MaKH, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tên khách hàng <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.TenKH, new { @id = "TenKH", @name = "Ten_KH", @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(m => m.TenKH, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Ngày Sinh <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NgaySinh, new { @id = "NgaySinh", @name = "NgaySinh", @required = "required", @class = "datepicker form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(m => m.NgaySinh, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới Tính </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();
                                        listItems.Add(new SelectListItem { Text = "Nam", Value = "Nam" });
                                        listItems.Add(new SelectListItem { Text = "Nữ", Value = "Nữ" });
                                        listItems.Add(new SelectListItem { Text = "Không xác định", Value = "Không xác định" });
                                    }
                                    @Html.DropDownListFor(m => m.GioiTinh, new SelectList(listItems, "Value", "Text", "Nam"), new { @id = "GioiTinh", @name = "GioiTinh", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Địa Chỉ <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.DiaChi, new { @id = "DiaChi", @name = "DiaChi", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.DiaChi, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Điện Thoại <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.DienThoai, new { @id = "DienThoai", @name = "DienThoai", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.DienThoai, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số CMND <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.So_CMND, new { @id = "So_CMND", @name = "So_CMND", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.So_CMND, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Email <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Email, new { @id = "Email", @name = "Email", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ghi chú 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.GhiChu, new { @id = "GhiChu", @name = "GhiChu", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.GhiChu, "", new { @class = "dd-text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng Thái </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @{
                                        List<SelectListItem> listItems_TrangThai = new List<SelectListItem>();
                                        listItems_TrangThai.Add(new SelectListItem { Text = "Chưa thanh toán", Value = "False" });
                                        listItems_TrangThai.Add(new SelectListItem { Text = "Đã thanh toán", Value = "True" });
                                    }
                                    @Html.DropDownListFor(m => m.TrangThai, new SelectList(listItems_TrangThai, "Value", "Text", "False"), new { @id = "TrangThai", @name = "TrangThai", @class = "form-control" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="/Admin/KhachHang/Index" class="btn btn-primary"><i class="fa fa-undo"></i> Làm mới </a>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu </button>
                                    <a id="Delete" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa </a>
                                </div>
                            </div>
                                        }
                    </div>
                </div>
            </div>
        </div>
        <!--End Add List-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách Khách Hàng</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 1%">STT</th>
                                    <th style="width: 4%">Mã KH</th>
                                    <th style="width: 10%">Tên Khách Hàng</th>
                                    <th style="width: 5%">Ngày sinh</th>
                                    <th style="width: 5%">Giới tính</th>
                                    <th>Địa chỉ</th>
                                    <th style="width: 5%">Điện thoại</th>
                                    <th style="width: 5%">Số CMND</th>
                                    <th style="width: 5%">Email</th>
                                    <th style="width: 5%">Ghi Chú</th>
                                    <th style="width: 5%">Trạng Thái</th>
                                    <th style="width: 5%">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int so = 1; }
                                @foreach (VICTORY_HOTEL.Models.KHACHHANG nv in ViewBag.KhachHang)
                                {
                                    <tr>
                                        <td>@(so++)</td>
                                        <td>
                                            <a>@nv.MaKH</a>
                                        </td>
                                        <td>
                                            <a>@nv.TenKH</a>
                                        </td>
                                        <td>
                                            @{
                                                string[] str = nv.NgaySinh.ToString().Split(' ');
                                                string ngaysinh = str[0];
                                            }
                                            <a>@ngaysinh</a>
                                        </td>
                                        <td>
                                            <a>@nv.GioiTinh</a>
                                        </td>
                                        <td>
                                            <a>@nv.DiaChi</a>
                                        </td>
                                        <td>
                                            <a>@nv.DienThoai</a>
                                        </td>
                                        <td>
                                            <a>@nv.So_CMND</a>
                                        </td>
                                        <td>
                                            <a>@nv.Email</a>
                                        </td>
                                        <td>
                                            <a>@nv.GhiChu</a>
                                        </td>
                                        <td>
                                            @{ 
                                                string trangthai = "";
                                                if (nv.TrangThai == true) { trangthai = "Đã thanh toán"; }
                                                else { trangthai = "Chưa thanh toán"; }
                                            }
                                            <a>@trangthai</a>
                                        </td>
                                        <td>
                                            <a data-id="@nv.MaKH" class="btn btn-info btn-xs btn-edit"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                             }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@* --------------------------------------------------------------------------------------------------- *@

<!-- jQuery -->
<script src="~/Areas/Admin/vendors/jquery/dist/jquery.min.js"></script>

<!--Show alert-->
@Html.Raw(TempData["msg"])

<!--My script-->
<script>
    $(document).ready(function () {

        $('#Delete').hide();

        $(this).on('click', '.btn-edit', function () {
            var pid = $(this).attr('data-id')
            $.ajax({
                type: "POST",
                url: "/KhachHang/Edit",
                async: false,
                cache: false,
                dataType: "json",
                data: { Id: pid },
                success: function (str) {                    
                    $('#MaKH').val(str[0]);
                    $('#TenKH').val(str[1]);
                    var ngaysinh = str[2].split(' ')[0];
                    $('#NgaySinh').val(ngaysinh);
                    $('#GioiTinh').val(str[3]);
                    $('#DiaChi').val(str[4]);
                    $('#DienThoai').val(str[5]);
                    $('#So_CMND').val(str[6]);
                    $('#Email').val(str[7]);
                    $('#GhiChu').val(str[8]);
                    $('#TrangThai').val(str[9]);
                    //scroll top
                    $("html, body").animate({ scrollTop: 0 }, "slow");

                    //
                    $('#Delete').show();
                    $('#Delete').attr("href", "/Admin/KhachHang/Delete/" + str[0]);
                }
            });            
        });        
    });
</script>
<!--End My script-->
@* --------------------------------------------------------------------------------------------------- *@

<!-- Datatables -->
<script src="~/Areas/Admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="~/Areas/Admin/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/Areas/Admin/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Areas/Admin/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Datatables -->
<script>
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [
                      {
                          extend: "copy",
                          className: "btn-sm"
                      },
                      {
                          extend: "csv",
                          className: "btn-sm"
                      },
                      {
                          extend: "excel",
                          className: "btn-sm"
                      },
                      {
                          extend: "pdfHtml5",
                          className: "btn-sm"
                      },
                      {
                          extend: "print",
                          className: "btn-sm"
                      },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
            keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });

        $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
            'order': [[1, 'asc']],
            'columnDefs': [
              { orderable: false, targets: [0] }
            ]
        });
        $datatable.on('draw.dt', function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-green'
            });
        });

        TableManageButtons.init();
    });
</script>
<!-- /Datatables -->
<script>
    $(function () {
        $(".#NgaySinh").datepicker({ dateFormat: "dd/mm/yy" });
    });

</script>
@* --------------------------------------------------------------------------------------------------- *@
