@model VICTORY_HOTEL.Models.PHONG
@{
    ViewBag.Title = "B2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gdlr-page-title-wrapper" style="background-image: url('/Images/gk_central_hotel_01.jpg'); ">
    <div class="gdlr-page-title-overlay"></div>
    <div class="gdlr-page-title-container container">
        <h1 class="gdlr-page-title">Đặt Phòng</h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="gdlr-content">
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container gdlr-class-no-sidebar">
                <div class="with-sidebar-left twelve columns">
                    <div class="with-sidebar-content twelve columns">
                        <div class="gdlr-item gdlr-item-start-content" id="gdlr-single-booking-content">
                            <!--Dat phong-->
                            @foreach (VICTORY_HOTEL.Models.LOAIPHONG c in ViewBag.LoaiPhong)
                            {
                                <form class="gdlr-reservation-bar" id="gdlr-reservation-bar" data-action="gdlr_hotel_booking" data-id="@c.MaLP" method="post" action="/DatPhong/BB3">
                                    <div class="gdlr-reservation-bar-title">Đặt phòng của bạn</div>
                                    <div class="gdlr-reservation-bar-summary-form" id="gdlr-reservation-bar-summary-form"></div>
                                    <div class="gdlr-reservation-bar-room-form" id="gdlr-reservation-bar-room-form"></div>
                                    <div class="gdlr-reservation-bar-date-form" id="gdlr-reservation-bar-date-form">
                                        <div class="gdlr-reservation-field gdlr-resv-datepicker">
                                            <span class="gdlr-reservation-field-title">Ngày đăng ký</span>
                                            <div class="gdlr-datepicker-wrapper"><input type="text" id="gdlr-check-in" class="gdlr-datepicker" data-dfm="dd-mm-yy" value="2016-12-09" readonly="readonly" /><input type="hidden" class="gdlr-datepicker-alt" name="gdlr-check-in" value="2016-12-09" /></div>
                                        </div>
                                        <div class="gdlr-reservation-field gdlr-resv-combobox">
                                            <span class="gdlr-reservation-field-title">Đêm</span>
                                            <div class="gdlr-combobox-wrapper">
                                                <select name="gdlr-night" id="gdlr-night">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="gdlr-reservation-field gdlr-resv-datepicker">
                                            <span class="gdlr-reservation-field-title">Ngày trả Phòng</span>
                                            <div class="gdlr-datepicker-wrapper"><input type="text" id="gdlr-check-out" class="gdlr-datepicker" data-dfm="dd-mm-yy" value="2016-12-10" readonly="readonly" /><input type="hidden" class="gdlr-datepicker-alt" name="gdlr-check-out" value="2016-12-10" /></div>
                                        </div>
                                        <div class="gdlr-reservation-field gdlr-resv-combobox">
                                            <span class="gdlr-reservation-field-title">Số Phòng</span>
                                            <div class="gdlr-combobox-wrapper">
                                                <select name="gdlr-room-number" id="gdlr-room-number" disabled="true">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clear"></div>

                                        @* Load ds phòng *@
                                        <input type="button" id="gdlr-load-room" name="gdlr-load-room" data-id="@c.MaLP" class="gdlr-reservation-bar-button gdlr-button with-border" value="Lấy danh sách phòng trống hiện tại">
                                        <div class="clear"></div>

                                        <div class="gdlr-reservation-people-amount-wrapper" id="gdlr-reservation-people-amount-wrapper">
                                            <div class="gdlr-reservation-people-amount">
                                                <div class="gdlr-reservation-field gdlr-resv-combobox">
                                                    <span class="gdlr-reservation-field-title">Phòng</span>
                                                    <div class="gdlr-combobox-wrapper">
                                                        <select name="gdlr-room-number[]" id="gdlr-room-number-bb">
                                                            @*<option value="1">1</option>
                                                                <option value="2">2</option>*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="gdlr-reservation-field gdlr-resv-combobox">
                                                    <span class="gdlr-reservation-field-title">Người lớn</span>
                                                    <div class="gdlr-combobox-wrapper">
                                                        <select name="gdlr-adult-number[]" id="gdlr-adult-number-bb">
                                                            <option value="1">1</option>
                                                            <option value="2" selected>2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="gdlr-reservation-field gdlr-resv-combobox">
                                                    <span class="gdlr-reservation-field-title">Trẻ em</span>
                                                    <div class="gdlr-combobox-wrapper">
                                                        <select name="gdlr-children-number[]" id="gdlr-children-number-bb">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        @* Thêm phòng *@
                                        <input type="button" id="gdlr-add-room" name="gdlr-add-room" class="gdlr-reservation-bar-button gdlr-button with-border dd-btn-46" value="Thêm Phòng">
                                        @* Reset phòng *@
                                        <input type="button" id="gdlr-reset-room" name="gdlr-reset-room" class="gdlr-reservation-bar-button gdlr-button with-border dd-btn-46" value="Xóa Phòng">
                                        <div class="clear"></div>
                                        @* Submit chọn phòng *@
                                        @*<input type="hidden" name="hotel_data" value="1"><input type="submit" class="gdlr-reservation-bar-button gdlr-button with-border dd-btn-93" value="submit">
                                        <div class="clear"></div>*@
                                        @*<input type="button" id="gdlr-test-room" name="gdlr-test-room" class="gdlr-reservation-bar-button gdlr-button with-border dd-btn-93" value="Kiểm tra">
                                        <div class="clear"></div>*@
                                        <a href="/DatPhong/B3" id="gdlr-tiep-tuc"><input type="button" id="gdlr-finish-room" name="gdlr-finish-room" class="gdlr-reservation-bar-button gdlr-button with-border dd-btn-93" value="Tiếp tục"></a>
                                        <div class="clear"></div>
                                    </div>
                                </form>
                            }
                            <!--End Dat phong-->

                            <div class="gdlr-booking-content">
                                <div class="gdlr-booking-process-bar" id="gdlr-booking-process-bar" data-state="2">
                                    <div data-process="1" class="gdlr-booking-process ">1. Chọn loại phòng</div>
                                    <div data-process="2" class="gdlr-booking-process gdlr-active">2. Chọn ngày</div>
                                    <div data-process="3" class="gdlr-booking-process ">3. Thực hiện đặt phòng</div>
                                    <div data-process="4" class="gdlr-booking-process ">4. Xác nhận</div>
                                </div>
                                <div class="gdlr-booking-content-wrapper">
                                    <div class="gdlr-booking-content-inner" id="gdlr-booking-content-inner">
                                        <div class="gdlr-booking-room-wrapper">
                                            @foreach (VICTORY_HOTEL.Models.LOAIPHONG c in ViewBag.LoaiPhong)
                                            {
                                                <div class="gdlr-item gdlr-room-item gdlr-medium-room">
                                                    <div class="gdlr-ux gdlr-medium-room-ux">
                                                        @foreach (var h1 in c.MOTA_PHONG.Skip(3).Take(1))
                                                        {
                                                            <div class="gdlr-room-thumbnail"><a href="/LoaiPhong/ChiTiet/@c.MaLP"><img src="~/Images/@h1.NoiDung_MoTa" alt="" width="400" height="300" style="transform: scale(1, 1);"></a></div>
                                                        }
                                                        <div class="gdlr-room-content-wrapper">
                                                            <h3 class="gdlr-room-title" id="gdlr-room-title" data-id="@c.MaLP"><a href="/LoaiPhong/ChiTiet/@c.MaLP">@c.TenLoaiPhong</a></h3>
                                                            <div class="gdlr-hotel-room-info">
                                                                @foreach (var ct in c.CHITIET_PHONG.Take(4))
                                                                {
                                                                    <div class="gdlr-room-info"><i class="fa fa-check-square-o icon-check"></i><span class="gdlr-head">@ct.Ten_CTP</span><span class="gdlr-tail">Có</span></div>
                                                                }
                                                                <div class="clear"></div>
                                                            </div>
                                                            @foreach (var m1 in c.MOTA_PHONG.Take(1))
                                                            {
                                                                <div class="gdlr-room-content">@Html.Raw(m1.NoiDung_MoTa)</div>
                                                            }
                                                            @*<a class="gdlr-room-selection gdlr-button with-border" href="/DatPhong/Buoc_2/@c.MaLP" data-roomid="@c.MaLP">Chọn phòng</a>*@
                                                            <div class="gdlr-room-price">
                                                                <span class="gdlr-head">Giá từ</span><span class="gdlr-tail">@Html.FormatValue(c.DONGIA.Gia, "{0:000,000.00}") VND / Đêm</span>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- gdlr-content -->
    <div class="clear"></div>
</div>
