@model VICTORY_HOTEL.ViewModels.KhachHang.KhachHangViewModel
@{
    ViewBag.Title = "B3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gdlr-page-title-wrapper" style="background-image: url('/Images/gk_central_hotel_01.jpg'); ">
    <div class="gdlr-page-title-overlay"></div>
    <div class="gdlr-page-title-container container">
        <h1 class="gdlr-page-title">Đặt Phòng</h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="gdlr-content">
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container gdlr-class-no-sidebar">
                <div class="with-sidebar-left twelve columns">
                    <div class="with-sidebar-content twelve columns">
                        <div class="gdlr-item gdlr-item-start-content" id="gdlr-single-booking-content">

                            <form class="gdlr-reservation-bar" id="gdlr-reservation-bar" data-action="gdlr_hotel_booking">
                                <div class="gdlr-reservation-bar-title">Đặt phòng của bạn</div>
                                <div class="gdlr-reservation-bar-summary-form gdlr-active" id="gdlr-reservation-bar-summary-form" style="display: block;">
                                    <div class="gdlr-price-summary-wrapper">
                                        <div class="gdlr-reservation-bar-title">Từ @ViewBag.Date1 đến @ViewBag.Date2 </div>
                                        <div class="gdlr-price-room-summary-title">(@ViewBag.SoDem đêm)</div>
                                        <div class="gdlr-price-summary-head">Giá</div>
                                        @*<div class="gdlr-price-room-summary">
                                                <div class="gdlr-price-room-summary-title">Phòng 1 : Phòng Signature<span class="gdlr-price-room-summary-price" href="#">1,500,000.00 VND</span></div>
                                                <div class="gdlr-price-room-summary-info gdlr-title-font"><span>Người lớn : 2</span><span>Trẻ em : 0</span></div>
                                            </div>*@
                                        @Html.Raw(ViewBag.ThongTin)
                                        <div class="gdlr-price-summary-grand-total gdlr-active"><span class="gdlr-head">Tổng cộng</span><span class="gdlr-tail">@Html.Raw(ViewBag.TongTien) VND</span></div>
                                        <div class="gdlr-price-deposit-wrapper">
                                            <div class="gdlr-price-deposit-input"><span class="gdlr-active"><label class="gdlr-radio-input"><input type="radio" name="pay_deposit" value="false" checked=""></label>Trả đầy đủ tiền</span><span><label class="gdlr-radio-input"><input type="radio" name="pay_deposit" value="true"></label>Trả 20% tiền</span></div>
                                            <div class="gdlr-price-deposit-inner-wrapper" data-pay="100">
                                                <div class="gdlr-price-deposit-title">20% Deposit</div>
                                                <div class="gdlr-price-deposit-caption">*Trả đầy đủ tiền</div>
                                                <div class="gdlr-price-deposit-amount">@ViewBag.HaiMuoiPhanTram VND</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="gdlr-booking-content">
                                <div class="gdlr-booking-process-bar" id="gdlr-booking-process-bar" data-state="3">
                                    <div data-process="1" class="gdlr-booking-process">1. Chọn Ngày</div>
                                    <div data-process="2" class="gdlr-booking-process">2. Chọn Phòng</div>
                                    <div data-process="3" class="gdlr-booking-process gdlr-active">3. Thực hiện đặt phòng</div>
                                    <div data-process="4" class="gdlr-booking-process">4. Xác nhận</div>
                                </div>
                                <div class="gdlr-booking-content-wrapper">
                                    <div class="gdlr-booking-content-inner" id="gdlr-booking-content-inner" style="opacity: 1; height: auto;">
                                        <div class="gdlr-booking-contact-container">
                                            @using (Html.BeginForm("B3", "DatPhong", FormMethod.Post, new { @class = "gdlr-booking-contact-form" }))
                                            {
                                                @Html.ValidationSummary(true, "", new { @class = "dd-text-danger" })

                                                <p class="gdlr-form-half-left">
                                                    <span>Họ Tên *</span>
                                                    @Html.TextBoxFor(m => m.TenKH, new { @name = "Ten_KH" })
                                                    @Html.ValidationMessageFor(m => m.TenKH, "", new { @class = "dd-text-danger" })
                                                </p>
                                                <p class="gdlr-form-half-right">
                                                    <span>Ngày Sinh *</span>
                                                    @*<input type="text" id="gdlr-check-out" class="gdlr-datepicker" data-dfm="dd-mm-yy" value="2016-12-10" readonly="readonly" /><input type="hidden" class="gdlr-datepicker-alt" name="gdlr-check-out" value="2016-12-10" />*@
                                                    <input type="text" id="gdlr-birthday" class="gdlr-datepicker1" data-dfm="dd/mm/yy" value="01/01/1900" readonly="readonly" />
                                                    @*@Html.TextBoxFor(m => m.NgaySinh, new { @id = "gdlr-birthday", @class="gdlr-datepicker1", @readonly="readonly" })
                                                        <input type="hidden" class="gdlr-datepicker-birthday" name="gdlr-birthday" value="01/01/1900"/>*@
                                                    @Html.TextBoxFor(m => m.NgaySinh, new { @class = "gdlr-datepicker-birthday", @name = "gdlr-birthday", @type = "hidden", @value = "01/01/1900" })
                                                    @Html.ValidationMessageFor(m => m.NgaySinh, "", new { @class = "dd-text-danger" })
                                                </p>
                                                <div class="clear"></div>
                                                    <p class="gdlr-form-half-left">
                                                        <span>Giới Tính *</span>
                                                        @{
                                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                                            listItems.Add(new SelectListItem { Text = "Nam", Value = "0" });
                                                            listItems.Add(new SelectListItem { Text = "Nữ", Value = "1" });
                                                            listItems.Add(new SelectListItem { Text = "Không Xác Định", Value = "2" });
                                                        }
                                                        @Html.DropDownListFor(m => m.GioiTinh, new SelectList(listItems, "Value", "Text", "0"), new { @name = "GioiTinh", @class = "gdlr-combobox-wrapper dd-combobox-style" })
                                                    </p>
                                                    <p class="gdlr-form-half-right">
                                                        <span>Email *</span>
                                                        @Html.TextBoxFor(m => m.Email, new { @name = "Email" })
                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "dd-text-danger" })
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="gdlr-form-half-left">
                                                        <span>Điện thoại *</span>
                                                        @Html.TextBoxFor(m => m.DienThoai, new { @name = "DienThoai" })
                                                        @Html.ValidationMessageFor(m => m.DienThoai, "", new { @class = "dd-text-danger" })
                                                    </p>
                                                    <p class="gdlr-form-half-right">
                                                        <span>Số CMND *</span>
                                                        @Html.TextBoxFor(m => m.So_CMND, new { @name = "So_CMND" })
                                                        @Html.ValidationMessageFor(m => m.So_CMND, "", new { @class = "dd-text-danger" })
                                                    </p>
                                                    <div class="clear"></div>

                                                    <p class="gdlr-form-half-left">
                                                        <span>Địa chỉ</span>
                                                        @Html.TextAreaFor(m => m.DiaChi, new { @name = "DiaChi" })
                                                    </p>
                                                    <p class="gdlr-form-half-right">
                                                        <span>Ghi chú</span>
                                                        @Html.TextAreaFor(m => m.GhiChu, new { @name = "GhiChu" })
                                                    </p>
                                                    <div class="clear"></div>

                                                    <div class="gdlr-error-message"></div>
                                                    @*<a class="gdlr-button with-border gdlr-booking-contact-submit">Đặt phòng bằng email và chúng tôi sẽ liên lạc cho bạn.</a>*@
                                                            <a><input type="submit" class="gdlr-button with-border gdlr-booking-contact-submit dd-btn-width-100" value="Đặt phòng bằng email và chúng tôi sẽ liên lạc cho bạn." /></a>
                                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- gdlr-content -->
    <div class="clear"></div>
</div>
