
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Responsive example <small>Users</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>                            
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">                        
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 1%">STT</th>
                                    <th style="width: 5%">Mã NV</th>
                                    <th style="width: 5%">Mã Chức vụ</th>
                                    <th style="width: 15%">Tên Nhân Viên</th>
                                    <th style="width: 5%">Ngày sinh</th>
                                    <th style="width: 5%">Giới tính</th>
                                    <th>Địa chỉ</th>
                                    <th style="width: 5%">Điện thoại</th>
                                    <th style="width: 20%">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int so = 1; }
                                @foreach (VICTORY_HOTEL.Models.NHANVIEN nv in ViewBag.NhanVien)
                                {
                                    <tr>
                                        <td>@(so++)</td>
                                        <td>
                                            <a>@nv.MaNV</a>
                                            <br>
                                        </td>
                                        <td>
                                            <a>@nv.MaCV</a>
                                        </td>
                                        <td>
                                            <a>@nv.TenNV</a>
                                        </td>
                                        <td>
                                            <a>@Html.FormatValue("{0:dd/MM/yyyy}", nv.NgaySinh.ToString())</a>
                                        </td>
                                        <td>
                                            <a>@nv.GioiTinh</a>
                                        </td>
                                        <td>
                                            <a>@nv.DiaChi</a>
                                        </td>
                                        <td>
                                            <a>@nv.DienThoai</a>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- jQuery -->
<script src="~/Areas/Admin/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/Areas/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/Areas/Admin/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/Areas/Admin/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="~/Areas/Admin/vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="~/Areas/Admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="~/Areas/Admin/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/Areas/Admin/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Areas/Admin/vendors/pdfmake/build/vfs_fonts.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>
<!-- Datatables -->
<script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
</script>
<!-- /Datatables -->